@import "tailwindcss";

:root {
  --background: #edeae4;
  --foreground: #1a1a1a;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-dm-sans);
  --font-mono: var(--font-dm-mono);
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-dm-sans), DM Sans, sans-serif;
}

* {
  box-sizing: border-box;
}

::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}
::-webkit-scrollbar-track {
  background: #e8e4de;
}
::-webkit-scrollbar-thumb {
  background: #c8c4be;
  border-radius: 3px;
}
::-webkit-scrollbar-thumb:hover {
  background: #a8a49e;
}
